@import "../core/ui/styles/theme.css";
@import "../core/ui/styles/vendor-overrides.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
}

body {
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
